.main-footer {
    // background-image: url("/Assets/rsz_footer-1234.png");
    // background-position: top;
    // background-repeat: no-repeat;
    // background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--chakra-colors-gray-900);
    // background-position: 100% 100%;
    .css-1ihm7sxsc3{
       
        .sbcsjbcn{
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            cursor: pointer;
            .css-vfonf{
                height: auto;
                padding: var(--chakra-space-5);
            }
        }
        .sdsdsdscv{
            letter-spacing: 7px;
            text-align: center;
            text-transform: uppercase;
            color: var(--chakra-colors-gray-500);
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .css-6gyyc9{

        display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    // max-width: 1200px;
    margin-top: var(--chakra-space-5);
    .sdbdjfbdsjf{

        .css-2kvf7cerw{
            .css-h93tssvvvq{
                color: var(--chakra-colors-gray-500);
                font-size: 14px;
                padding-top: 10px;
            }
            .css-1cua7fv{
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                width: 90%;
                align-items: center;
                .css-70qvj9{
                    .img-sddfascas{
                        margin-right: 10px;
                    }
                }
                .css-2q88aj{
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    // padding-inline: 8px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background: var(--chakra-colors-gray-700);
                    border-radius: 16px;
                    flex-direction: column;
                    text-align: center;
                    .css-145ggfxvcw0{
                        letter-spacing: 3px;
                        color: var(--chakra-colors-cyan-400);
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .img-sddfscsf{
                        display: block;
                        width: 70%;
                        z-index: 100;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }

        }
    }
   
    .css-lo7scscg8n{
        padding-top: 16px;
        .css-ogqxri{
            font-size: 20px;
            font-weight: 500;
            color: var(--chakra-colors-white);
        }
        .css-nwbmgf{
            padding-top: 16px;
            .css-cluel1{
                margin-top: 18px;
                .css-175beng{
                    width: 100%;
                    color: var(--chakra-colors-gray-500);
                    padding-top: var(--chakra-space-2);
                    font-size: 16px!important;
                    margin-right: var(--chakra-space-2);
                    margin-top: 12px;
                    cursor: pointer;
                }
            }
        }
        .css-mrf08i{
            width: 30px;
            height: 2px;
            background: var(--chakra-colors-white);
            margin-top: 20px;
            display: block;
        }
    }
    .css-1byhkv7{
        display: flex;
        flex-direction: column;
        background: var(--chakra-colors-gray-800);
        padding: 28px 32px 12px;
        margin-top: 32px;
        border-radius: 20px;
        min-width: 379px;
        height: 202px;
        margin-right: 20px;
        .xcndcss-1gn5ftr{
            opacity: 0.6;
            border-width: 0px 0px 1px;
            border-image: initial;
            border-color: var(--chakra-colors-gray-600);
            border-style: solid;
            width: 100%;
            margin-top: 14px;
            margin-bottom: 6px;
        }
        .dfgvcss-11jym3a{
            color: var(--chakra-colors-white);
            font-weight: 500;
            font-size: 18px;
        }
        .css-hwedfgr194{
            color: var(--chakra-colors-gray-500);
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 14px;
        }
        .css-1kyat81{
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            margin-top: 30px;
            padding-top: 15px;
            i{
                color: var(--chakra-colors-gray-500);
            }
            button{
                color: var(--chakra-colors-gray-500);
                background-color: transparent;
                border: none;
                font-size: 14;
                outline: none;
                box-shadow: none;
            }
            .dcsdvdscss-mu028j{
                width: 100%;
                min-width: 0px;
                outline: transparent solid 2px;
                outline-offset: 2px;
                position: relative;
                appearance: none;
                transition-property: var(--chakra-transition-property-common);
                transition-duration: var(--chakra-transition-duration-normal);
                font-size: 12px;
                height: auto;
                border-radius: var(--chakra-radii-md);
                background: var(--chakra-colors-transparent);
                padding-left: 20px;
                color: var(--chakra-colors-gray-400);
                border: none;
                &::placeholder{
                    color: rgb(168, 179, 184);
                }
                
            }
        }
    }
    }
   
        .left-side-fot{
            h4{
                font-family: 'poppins';
                font-weight: 500;
                font-size: 22px;
                color: rgb(138, 135, 135);
                padding-bottom: 26px;
            }
            p{
                font-family: 'popins';
                font-size: 18px;
                font-weight: 400;
                color: rgb(138, 135, 135);
                padding-right: 50px;
                padding-bottom: 26px;
            }
            .socials{
                display: flex;
                margin-top: 100px;
                .mm{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: rgb(138, 135, 135);
                    color: #000;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 16px;
                    cursor: pointer;
                }
            }
        }
        .mid-m-fot{
            text-align: center;
            img{
                width: 200px;
                text-align: center;
            }
        }
        .right-side-fot{
            display: flex;
            float: right;
            .abb{
                margin-left: 20px;
                h4{
                    padding-bottom: 26px;
                    font-family: 'poppins';
                    color: rgb(138, 135, 135);
                    font-size: 20px;
                }
                li{
                   a{
                    font-family: 'poppins';
                    color: rgb(138, 135, 135);
                    font-size: 14px;
                   }
                  
                }
            }
        }
   
        .inner-icon {
           h5 {
               margin-bottom: 20px;
           }

           .btn-common {
            border-radius: 0px 10px 10px 0px;
           }

           h6 {
               font-size: 12px;
           }

           li {
               padding-bottom: 10px;

               a:hover {
                   
                       color: #6C01C3;
                
               }
           }
            input {
                border: 2px solid #6C01C3;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    height: 42px;
    margin-bottom: 20px;
            }

            .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            .input-group-append {
                position: absolute;
                right: 0px;
                top: -9px;
            }
        }
}

@media only screen and (max-width: 600px) { 
    .main-footer .css-6gyyc9 .css-1byhkv7{
        min-width: unset;
        margin-right: 0px;
    }
    .main-footer .css-6gyyc9 .css-lo7scscg8n .css-mrf08i{
        display: none;
    }
    .main-footer .mid-m-fot img{
        width: 200px!important;
    }
    .main-footer {
        text-align: center;

        .inner-icon {
            h5 {
                margin-bottom: 20px;
            }
 
            .btn-common {
             border-radius: 0px 10px 10px 0px;
            }
 
            h6 {
                font-size: 12px;
                margin: 0 auto;
            }
 
            li {
                padding-bottom: 10px;
 
                a:hover {
                    
                        color: #6C01C3;
                 
                }
            }
             input {
                 border: 2px solid #6C01C3;
     box-sizing: border-box;
     border-radius: 8px;
     background: transparent;
     height: 42px;
     width: 100% !important;
     margin-bottom: 20px;
    }
    
    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
                 border-top-right-radius: 8px;
                 border-bottom-right-radius: 8px;
             }
 
             .input-group-append {
                 position: absolute;
                 right: 0px;
                 top: -9px;
             }
         }
    }
}

.main-footer {
    .inner-icon{
        h5{
            color: #F8FAFC;
        }
    }
}

.img-mdnh{
    // width: 60px;
    // height: 200px;
}